@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(22, 86, 188);
  height: 5rem;
}

/* .category {
  padding: 2%;
  background-color: #333;
  color: #ffc;
  width: 10rem;
  height: 100vh;
  max-height: 100%;
} */

.error--page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #0ecc8a;
  font-weight: 900;
  font-family: Helvetica, Arial, sans-serif;
}

