.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: crimson;
  height: 5rem;
}

.category {
  padding: 2%;
  background-color: #333;
  color: #ffc;
  width: 10rem;
  height: 100vh;
  max-height: 100%;
}

.error--page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #0ecc8a;
  font-weight: 900;
  font-family: Helvetica, Arial, sans-serif;
}

/* .giphy-embed {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
} */